
/* cajas de texto*/
TextField {
    -fx-font-size: 14px; 
    -fx-padding: 10px; 
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
    -fx-background-color: white;
    -fx-border-color:black;
}

PasswordField {
    -fx-font-size: 14px; 
    -fx-padding: 10px; 
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
    -fx-background-color: white;
    -fx-border-color:black;
}

.button {
    -fx-font-size: 14px;
    -fx-font-family: "Press Start 2P", monospace;
    -fx-padding: 8px 16px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: #3a2c0f;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.6, 1, 1);
}

/* BOTÓN FÁCIL */
#facilButton {
    -fx-background-color: #e0c56b;
    -fx-text-fill: #2e1b00;
}
#facilButton:hover {
    -fx-background-color: #c0a956;
}

/* BOTÓN NORMAL */
#normalButton {
    -fx-background-color: #f6e95c;
    -fx-text-fill: #2e1b00;
}
#normalButton:hover {
    -fx-background-color: #d7c743;
}

/* BOTÓN DIFÍCIL */
#dificilButton {
    -fx-background-color: #e47c78;
    -fx-text-fill: #2e1b00;
}
#dificilButton:hover {
    -fx-background-color: #c5605d;
}

/* textos */
#text{
    -fx-fill: black;
    -fx-effect: dropshadow(gaussian, white, 5, 0.8, 0, 0);
}


/* Texto error*/
#error{
    -fx-fill: red;
    -fx-effect: dropshadow(gaussian, rgb(250, 109, 109), 3, 0.8, 0, 0);
}

#box {
    -fx-background-color:white;
}


VBox {
    -fx-background-color:
        linear-gradient(to bottom right, rgba(10, 127, 63, 1) 0%, rgba(8, 100, 50, 1) 100%),
        linear-gradient(to top left, rgba(255, 255, 255, 0.02) 50%, transparent 50%);
    -fx-background-insets: 0, 0;
    -fx-background-blend-mode: overlay, multiply;
}

.check-box {
    -fx-font-size: 12px;
    -fx-text-fill: #2e1b00;
    -fx-font-family: "Press Start 2P", monospace;
}

.check-box .box {
    -fx-background-color: #e0c56b;
    -fx-border-color: #3a2c0f;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
    -fx-padding: 2;
}

.check-box:selected .box {
    -fx-background-color: #3a2c0f;
}

.check-box .mark {
    -fx-background-color: white;
}


